<header class="unselectable">
    <a href="/" class="brand">
        <%- include('./logo.ejs') %>
        <span class="title">Viewer</span>
    </a>
    <form class="search">
        <input placeholder="Search" type="text" id="query">
        <button id="search_button">                        
            <%- include('./search-icon.ejs') %>
        </button>
    </form>
    <a class="settings-icon" href="/$/settings"><%- include('./settings-icon.ejs') %></a>
</header>
<script>
    const search = document.querySelector('#search_button');
    const query = document.querySelector('#query');
    
    search.addEventListener('click', (e)=>{
        e.preventDefault();
        
        window.location.href = '/$/search?text=' + encodeURIComponent(query.value);
    })
</script>
<script src="/$/public/js/markdown-it.min.js"></script>
<%- include('./utils/tools.ejs') %>