<div class="header">
    <a href="/" class="text">
        <%- include('logo') %>
        <h1 class="title">LBRY Viewer</h1>
    </a>
    <p class="hint">Search LBRY claim</p>
    <form class="search">
        <input placeholder="e.g. elons-blue-check-mark:9" type="text" name="q" id="query">
        <button id="search">                        
            <svg viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M32.0017 31.6507C35.1564 28.4514 36.9099 24.1384 36.8787 19.6552C36.8475 15.172 35.0341 10.8836 31.8351 7.72813C28.6361 4.57266 24.3121 2.80697 19.8088 2.81733C15.3056 2.82769 10.9898 4.61325 7.80551 7.78342C4.62123 10.9536 2.82771 15.2503 2.81731 19.7335C2.8069 24.2168 4.58045 28.5217 7.74998 31.7065C10.9195 34.8913 15.227 36.6967 19.7301 36.7277C24.2333 36.7588 28.5655 35.0131 31.7791 31.8723L50.7023 50.7117M40.5728 37.7458L52.8173 49.936L49.9231 52.8173L37.6787 40.6271" stroke="black" stroke-width="4" stroke-linecap="round"/>
            </svg>    
        </button>
    </form>
</div>