<div class="wrapper card">
    <h1>View LBRY claims</h1>
    <p>Get started by entering a claim name in the search field above.</p>
    <div class="logo">
        <%- include('logo') %>
        LBRY Viewer
    </div>
    <p style="font-weight: bold;">To help strengthening the network,<br/>content viewed here will get automatically seeded.</p>
</div>